@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes bop {
  0% {
    -webkit-transform: translateY(0%) translateX(-50%);
            transform: translateY(0%) translateX(-50%);
  }
  50% {
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
  }
  100% {
    -webkit-transform: translateY(0%) translateX(-50%);
            transform: translateY(0%) translateX(-50%);
  }
}

@keyframes bop {
  0% {
    -webkit-transform: translateY(0%) translateX(-50%);
            transform: translateY(0%) translateX(-50%);
  }
  50% {
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
  }
  100% {
    -webkit-transform: translateY(0%) translateX(-50%);
            transform: translateY(0%) translateX(-50%);
  }
}

@-webkit-keyframes bopAlt {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@keyframes bopAlt {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

::-webkit-scrollbar {
  display: none;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: #efefef;
  color: #101010;
  font-family: 'Roboto Mono', monospace;
  text-shadow: 8px 12px 9px rgba(0, 0, 0, 0.25);
}

#clock {
  font-weight: 100;
  font-size: 2em;
  position: fixed;
  right: 1vw;
  top: 0%;
  text-shadow: 8px 12px 9px rgba(0, 0, 0, 0.25);
  letter-spacing: 0.225em;
}

.switch {
  position: absolute;
  left: 50vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#modeSwitch {
  position: absolute;
  left: 25%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-filter: drop-shadow(12px 16px 7px black);
          filter: drop-shadow(12px 16px 7px black);
}

.ani {
  -webkit-animation: bopAlt 0.5s;
          animation: bopAlt 0.5s;
}

.top {
  width: 100vw;
  height: 100vh;
}

.head {
  position: absolute;
  top: 50vh;
  left: 50vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.head h1 {
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
  margin-right: -0.805em;
  font-weight: 400;
  letter-spacing: 0.805em;
}

.arrow {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  bottom: 0%;
  left: 50%;
  -webkit-animation: fadein 5s, bop 2s infinite 3s;
          animation: fadein 5s, bop 2s infinite 3s;
}

.middle {
  position: absolute;
  top: 100vh;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom {
  position: absolute;
  top: 200vh;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=lightmode.css.map */